body {
background-color: #F8F9FF;
color: #333;
  font-family: "Afacad Flux", sans-serif;
}

section, header {
width: 80%;
max-width: 900px;
margin: auto;
margin-bottom: 6rem;
}

h1, h2, blockquote {
    font-family: "Corben", serif;
  color: #D48429;
}

h1 {
    font-size: 5.062rem;
    line-height: 1;
    color: #132748;
    margin: 5rem 0 1rem 0;
}

h2 {
    font-size: 2.250rem;
    margin-bottom: 2rem\;
}

p {
    line-height: 1.8;
}


blockquote {
    color: #D48429;
    padding-top: 1rem;
    hanging-punctuation: first;
    font-weight: bold;
    font-size: 1.75rem;
}

/*-- CSS DONE IN WEEK 10 --*/
/*-- STYLING NAVIGATION, LINKS AND FOOTER --*/

.responsivenav {
background-color: #132748;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.25rem;
}

#logo {
      font-family: "Corben", serif;
    font-size: 2.75rem;
    color: #ffffff;
    font-weight: bold;
    padding-left: 35px;
}

a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px dashed;
}

a:hover {
    color: #D48429;;
    transition: all 0.35s ease-in-out;
}


nav {
display: flex;
padding: 1.5rem 0;
}

nav ul {
    text-align: right;
    letter-spacing: 1.5px;
    list-style-type: none;
    padding-right: 35px;
}

nav ul li {
    display: inline;
    padding: 2rem;
}

nav a {
    border-bottom: none;
    letter-spacing: 2px;
    font-weight: bold;
}


footer {
    background-color: #132748;
    color: white;
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}

.gridimage {
display: grid;
column-gap: 10px;
grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}


@media (max-width: 600px) {
    header h1 {
        font-size: 4rem;
    }

    .gridimage {
        row-gap: 10px;
    }
}